body{
    background: rgb(0,99,108);
    background: linear-gradient(90deg, rgba(0,99,108,1) 0%, rgba(102,255,250,1) 35%, rgba(102,255,250,1) 65%, rgba(0,99,108,1) 100%);}

.project-container{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    padding-bottom: 1rem;
    
}

h1{
    text-align: center;
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
}


.project{
    min-width: 20vw;
    height: max-content;
    border-radius: 30px;
    text-align: center;
    padding: 1vw;
    background-color:rgb(34, 56, 122);
    margin: auto;
    margin-top: 0;
    margin-left: 3vw;
    border: 1px solid black;
}

.project img{
    border-radius: 20px;
    border: 1px solid black;
    width: 70%;
    height: 20vh;
    transition: 100ms;
}

.project img:hover{
    width: 90%;
    
}

.project-container a {
    text-decoration: none;
}

.project-container a h2 {
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.project-container h2:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .project-container{
        grid-template-columns: 1fr 1fr;     
    }

    .project{
        margin: auto;
        margin-top: 0;
        margin-bottom: 3vh;
        width: 40vw;
    }
}

@media only screen and (max-width: 800px) {
    .project-container{
        grid-template-columns: 1fr;     
    }

    .project{
        margin: auto;
        margin-bottom: 3vh;
        width: 40vw;
    }

    .project img{
        width: 70%;
        height: 70%;
    }
  }
